
html,body{
    font-family: OpenSans-Regular;
}
.top{
    /*border-bottom: 1px solid grey;*/
    padding-left: 80px;
}
.company-title{
    padding-top: 10px;
}
.company-title-info{
    padding: 0px;
}
.company-title-text{
    display: block;
    font-size: 32px;
    /*font-family: "Comic Sans MS";*/
    font-family: "Arial";
    text-align: left;
}
.company-title-text-dialog{
    font-size: 14px;
    font-family: 'Overlock', cursive;
    font-weight: 600;
}
.company-top-address{
    padding-top: 16px;
    font-family: 'Overlock', cursive;
    font-weight: 600;
}
.company-top-address-phone{

}
.company-top-address-text{

}
.navbar{
    margin-bottom: 0px;
}
.navbar-nav{
    text-align: center;
}
.nav_bottom{
    font-family: Arial;
    font-size: 16px;
    background-color: #d8f057;
}
.nav > li:hover, .nav > li:focus {
    background-color: lightgrey;
}
.nav > li > a:hover, .nav > li > a:focus {
    color: black;
}
@media (max-width: 768px) {
    .navbar-toggle1 {
        border-color: #2f374c;
        background-color: #2f374c;
        border-radius: 2px;
    }
    .navbar-default .navbar-toggle {
        border-color: #2f374c;
        background-color: #2f374c;
        border-radius: 2px;
    }
    .navbar-toggle1 .icon-bar {
        background-color: #fff;
    }
}
.row-section{
    padding-top: 80px;
    /*background-color: #63b8bd;*/
}
.feature-section{
    background-color: #63b8bd;
}
.our-expertise-section{
    /*background-color: #f8ffd7;*/
}
.our-team-section{
    background: aliceblue;
}
.row-section .section-title{
    font-family: 'Josefin Slab', serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.section-title:before, .section-title:after {
    content: ' ';
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}

.section-title:before {
    height: 1px;
    width: 350px;
    bottom: -10px;
    background: #777777;
}
.section-title:after {
    height: 4px;
    width: 50px;
    bottom: -10px;
    background: #444444;
}
.section-content{
    padding-top: 40px;
    text-align: center;
    font-family: Verdana;

}
.service-left{
    padding-top: 30px;
}
.service-left p{
    text-align: justify;
}
.service-left a{
    text-decoration: none;
}
.service-left a:hover,.service-left a:focus{
    color: #333399;
}


/*footer*/
.footer {
    background-color: #444;
    padding: 3em 0;
    font-family: 'Overlock', cursive;
}
.footer h3 {
    font-size: 1.7em;
    color: #fff;
    margin: 0 0 1em;
    font-weight: 700;

    letter-spacing: 1px;
}
.footer p {
    color: #fff;
    text-align: center;
    font-size: 1em;
    line-height: 1.8em;
    margin: 1em 0 0;
}
.footer p a {
    font-size: 20px;
    font-weight: 600;
    color: #e3e3e3;
    text-decoration: none;
}
.footer-left li {
    display: block;
    font-size: 1em;
    color: #92F9FF;
    line-height: 1.8em;
}
.footer li a {
    color: #92F9FF;
    font-size: 1em;
    line-height: 1.8em;
    text-decoration: none;
}
.soci ul {
    padding: 0;
}
.soci li {
    display: inline-block;
    margin: 0 0.5em;
}
i.facebk {
    width: 32px;
    height: 32px;
    background: url(../images/social.png)no-repeat -5px -43px;
    float: left;
    vertical-align: middle;
}
i.twter {
    width: 32px;
    height: 32px;
    background: url(../images/social.png)no-repeat -43px -44px;
    float: left;
    vertical-align: middle;
}
i.goopl {
    width: 32px;
    height: 32px;
    background: url(../images/social.png)no-repeat -83px -44px;
    float: left;
    vertical-align: middle;
}
i.insta {
    width: 32px;
    height: 32px;
    background: url(../images/social.png)no-repeat -123px -44px;
    float: left;
    vertical-align: middle;
}

/*end footer*/
#topButton {
    display: none; /* Hidden by default */
    font-size: 30px;
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    background: url(../images/arrow.1.png) no-repeat 0px 0px;
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border: 1px solid black;
    -webkit-border-radius:70px;
    -moz-border-radius:70px;
    border-radius:70px
}

#topButton:hover {
    background-color: lightgrey; /* Add a dark-grey background on hover */
}